
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Highcharts Example</title>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>

      
    </head>
    <body bgcolor="#E6E6FA">

<br>
<% if (@chars) %>
<center>

<h2>All charts</h2>

</center>

<table>
  <tr>
    <th>Chart </th>
    <th>action</th>
  </tr>
 
  <% @chars.each do |char| %>
    <tr>
      <td><%= char.title %></td>
      <td><a href="/chars/<%= char.id %>"> show </a>
</td>
<td><%= link_to 'Destroy', char_path(char),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<% end %>
<br>


Want to add new chart ? 

<%= form_for :char, url: chars_path do |f| %>
    <%= f.label :title %><br>
    <%= f.text_field :title , :required => true%>
  </p>
 
  <p>
    <%= f.label :"number of entities" %><br>
    <%= f.text_field :number , :required => true, :pattern => '[0-9]*' %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>


    </body>
</html>
